PG_HOST=polynovea-module2.cxeo8066g8t2.ap-south-1.rds.amazonaws.com
PG_PORT=5432
PG_DB=polynovea_module2
PG_USER=polynovea_admin
PG_PASSWORD=your_password_here
PG_POOL_MIN=2
PG_POOL_MAX=10
APP_ENV=development
